<?xml version="1.0" encoding="UTF-8"?>
<!--
  ~ Fabric4cloud.com Inc.
  ~ Copyright (c) 2015-2018 All Rights Reserved.
  -->
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd">

    <!--<context:annotation-config/>-->
    <!--<context:component-scan base-package="com.chen"/>-->
    <!--<aopchen:aspectj-autoproxy proxy-target-class="true"/>-->

    <bean id="helloWorldService"
          class="com.basetest.HelloWorldService" depends-on="dependon">
        <property name="name" value="Program Creek Readers"/>
        <property name="test" ref="test"/>
    </bean>

    <!--<alias name="helloWorldService" alias="toName"/>-->

    <bean id="test"
          class="com.basetest.Test">
        <property name="msg" value="chenyang"/>
    </bean>

    <bean id="dependon" class="com.basetest.DependOn"></bean>
</beans>