<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE configuration
        PUBLIC "-//mybatis.org//DTD Config 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-config.dtd">
<configuration>
    <properties>
        <property name="chenyang" value="test"/>
    </properties>
    <settings>
        <setting name="logImpl" value="LOG4J"/>
    </settings>

    <typeAliases>
        <package name="tk.mybatis.simple.model"/>
    </typeAliases>

    <plugins>
        <plugin interceptor="tk.mybatis.simple.model.interceptor.PageInterceptor">
            <property name="dialect" value="tk.mybatis.simple.model.interceptor.MysqlDialect"/>
        </plugin>
    </plugins>


    <environments default="development">
        <environment id="development">
            <transactionManager type="JDBC">
                <property name="" value=""/>
            </transactionManager>
            <dataSource type="UNPOOLED">
                <property name="driver" value="com.mysql.jdbc.Driver"/>
                <property name="url" value="jdbc:mysql://127.0.0.1:3306/mybatis"/>
                <property name="username" value="boss"/>
                <property name="password" value="boss"/>
            </dataSource>
        </environment>
    </environments>


    <mappers>
        <mapper resource="tk/mybatis/simple/mapper/CountryMapper.xml"/>
        <!--<mapper resource="tk/mybatis/simple/mapper/fullTagMapper.xml"/>-->
    </mappers>
</configuration>
